/*Home page Design*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Common styles for both mobile and desktop */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
    /* display: none; */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(244, 207, 21);
}

.nav_links li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(73, 95, 88, 1);
    text-decoration: none;
}

.nav_links li {
    list-style-type: none;
}


/* ############################################### */
/* Mobile design */
.nav_links_desktop {
    display: none;
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    max-width: 4rem;
}

header form.cta button {
    display: none;
}

.nav_links .booking {
    display: inline-block;
}

/* .navbar {
    opacity: 0.95;
} */

.navbar-container {
    display: block;
    position: relative;
    height: 64px;
}

.navbar-container input[type="checkbox"] {
    position: relative;
    height: 32px;
    width: 40px;
    top: 1.1rem;
    left: 0.625rem;
    z-index: 11;
    opacity: 0;
}

.navbar-container .hamburger-lines {
    display: block;
    height: 32px;
    width: 40px;
    position: absolute;
    top: 18px;
    left: 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(73, 95, 88, 1);
}

.navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
    transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.nav_links {
    background-color: #EDE597;
    position: absolute;
    margin-top: -2rem;
    padding-top: 5.5rem;
    padding-right: 2.5rem;
    padding-left: 110px;
    margin-left: -80px;
    height: 90vh;
    max-width: 300px;
    transform: translateX(-150%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    z-index: 9;
}

.navbar-container .nav_links li {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 500;
}


.navbar-container input[type="checkbox"]:checked~.nav_links {
    transform: translateX(0);
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

/* ############################################### */
/* Styles for Tablet screen */
@media only screen and (min-width: 768px){
    .nav_links {
        display: none;
    }

    .navbar-container input[type='checkbox'],
    .navbar-container .hamburger-lines,
    .nav_links li .booking {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .navbar-container .nav_links {
        margin-left: 10rem;
    }

    .navbar-container .nav_links li {
        margin-bottom: 6rem;
        font-weight: 500;
        display: inline-block;
        padding: 0px 10px;
    }


    .nav_links li a {
        right: 1rem;
        transition: all 0.3s ease 0s;
        /* font-size: 20px; */
        font-size: clamp(14px, 2vw, 20px);
    }

    header form.cta button {
        /* font-size: 15px; */
        font-size: clamp(14px, 2vw, 20px);

    }

    .nav_links li a:hover {
        color: rgb(237, 241, 242);
    }


    .logo {
        cursor: pointer;
        position: absolute;
        left: 1rem;
        top: 2rem;
        max-width: 8rem;
    }

    header {
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        padding: 10px 10%;
    }

    .navbar-container {
        position: relative;
        width: 400px;
        height: 80px;
    }


    .nav_links_desktop {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 4.5rem;
        right: 5rem;
        transform: translateY(-50%);
        height: inherit;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        /* border: 2px solid red; */
        box-shadow: none;
        border-radius: 0px;
    }



    /* styling the button on the right */
    header form.cta button {
        display: block;
        margin: 0 auto;
        position: relative;
        background-color: rgb(73, 95, 88, 1);
        color: rgb(237, 241, 242);
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    header form {
        text-decoration: none;
    }

    header form.cta button:hover {
        background-color: rgb(74, 94, 88, 0.8);

    }



}


/* ########################################### */
/* Styles for Desktop design */
@media only screen and (min-width:1025px) {

    .nav_links {
        display: none;
    }

    .navbar-container input[type='checkbox'],
    .navbar-container .hamburger-lines,
    .nav_links li .booking {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .navbar-container .nav_links li {
        margin-bottom: 4.5rem;
        font-size: 3rem;
        font-weight: 500;
    }

    /* we can use visibility with position:absolute property, and also width and height to make any property non-existance */

    .logo {
        cursor: pointer;
        position: absolute;
        left: 2rem;
        max-width: 10.5rem;
    }

    header {
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: flex-end;
        gap: 3.5rem;
        flex-direction: row;
        align-items: center;
        padding: 10px 10%;
    }

    .navbar-container {
        position: relative;
        width: 400px;
        height: 80px;
    }

    .nav_links_desktop {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 3.5rem;
        transform: translateY(-50%);
        height: inherit;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        /* border: 2px solid red; */
        box-shadow: none;
        border-radius: 0px;
    }

    .nav_links li {

        display: inline-block;
        padding: 0px 20px;
    }

    .nav_links li a {
        transition: all 0.3s ease 0s;
    }

    .nav_links li a:hover {
        color: rgb(237, 241, 242);
    }

    /* styling the button on the right */
    header form.cta button {
        display: block;
        margin-left: 500px;
        margin: 0 auto;
        position: relative;
        padding: 9px 25px;
        background-color: rgb(73, 95, 88, 1);
        color: rgb(237, 241, 242);
        font-weight: 500;
        font-size: 20px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    header form {
        text-decoration: none;
    }

    header form.cta button:hover {
        background-color: rgb(74, 94, 88, 0.8);

    }

}

/* ################################################## */
/* Home /* home  except the banner, nav and footer*/
/* mobile */
* {
    /* border: 2px solid black; */
}

.horizontal-line {
    margin-top: 1rem;
    position: relative;
    width: 100%;
    height: 20px;
    /* Adjust the height of the line as needed */
    background-color: rgba(73, 95, 88, 1);
    /* rgb(24, 148, 231) good color for future */
}
 .headline-container .introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(73, 95, 88, 0.7), rgba(73, 95, 88, 0.7)), url('../image/neplese-himilayas.jpeg');
    background-size: cover;
    background-position: center 30%;
    background-attachment: fixed;
    padding: 0.5rem;
    border-radius: 4rem;
    width: 90%;
}


 .headline-container .introduction h1 {
    text-align: center;
    color: rgb(244, 207, 21);
    font-size: clamp(0.5rem, 3vw, 3rem);
}

.horizontal-line-2 {
    position: relative;
    margin-bottom: 3rem;
}
.horizontal-line-2 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: rgb(244, 207, 21);
}



/* designing lower content */
.content-container .box-content {
    display: none;
}

.lower-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.content-container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* border: 2px solid red; */
    margin-bottom: 1rem;
/*    background-color: rgba(220, 187, 18, 0.6);*/
    border-radius: 2rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    transition: width 0.3s ease 0s;
    background-color: #EDE597;
}
.comments{
    max-width: 80%;
}

.comments-container, .comments{
    margin: auto;
    width: 90%;
    background-color: #EDE597;
    border-radius: 2rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    text-align: center;
    padding: 1%;
    margin-bottom: 3%;
    color: rgba(73, 95, 88, 1);
    font-size: clamp(15px, 2vw, 20px);

}

.comments-container {
    margin-top:4%;
}


.content-container .photo-container img {
    /* margin: 0 auto; */
    max-width: 100%;
    border-radius: 2rem;
    opacity: 0.9;
    display: block;
}



.content-container .photo-container img:hover {
    transform: scale(1.05);

}

.content-container .article-container {
    color: rgba(73, 95, 88, 1);
    font-size: clamp(15px, 2vw, 20px);
}

.article-container p {
    text-align: center;
}

.article-container h3 {
    text-align: center;
    margin-bottom: 10px;

}

/* css overlays */
.content-container .box-content {
    display: inline-block;
    text-decoration: none;
    color: #232323;
}

.content-container .photo-container {
    /* border: 4px solid red; */
    max-width: 400px;
    border-radius: 2rem;
    transition: width 0.3s ease 0s;
    overflow: hidden;
    position: relative;
}

.content-container .photo-container:hover {
    transform: scale(1.05);
}

.content-container .photo-container::after {
    content: "";
    /* border: 2px solid purple; */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    opacity: 0;
    z-index: 1;
}

.photo-container:hover::after {
    opacity: 1;
}

.box-content {
    /* border:  2px solid green; */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    border-radius: 2rem;
}

.box-content a {
    border-radius: 2rem;
    font-size: 1em;
}

.photo-container:hover .box-content {
    opacity: 1;
    top: 50%;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #232323;
    padding: 0.5em 1.2em;
    margin-top: 0.8rem;
}



/* tablet_viewport */
@media only screen and (min-width:768px) {


    .horizontal-line {
        width: 100%;
        height: 40px;
        /* Adjust the height of the line as needed */
        background-color: rgba(73, 95, 88, 1);
        /* rgb(24, 148, 231) good color for future */
    }
/* ############positioning important concept##################### */
    .horizontal-line-2 {
        margin: 2rem auto;
        position: relative;
        height: 50px;
    }
    .horizontal-line-2 h3{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%,-50%);
        font-size: 30px;
        color: rgb(244, 207, 21);
    }

    /* designing the lower part of the container  */
    .content-container {
        background-color: #EDE597;
        flex-direction: row-reverse;
        gap: 30px;
        margin-bottom: 3rem;
    }

    .content-container .photo-container img {
        /* margin: 0 auto; */
        display: block;
        width: 100%;
        border-radius: 2rem;
        transition: transform 0.3s ease 0s;
    }


    /* css overlays */
    .content-container .box-content {
        display: inline-block;
        text-decoration: none;
        color: #232323;
    }

    .content-container .photo-container {
        /* border: 4px solid red; */
        max-width: 400px;
        border-radius: 2rem;
        transition: width 0.3s ease 0s;
        overflow: hidden;
        position: relative;
    }

    .content-container .photo-container:hover {
        transform: scale(1.05);
    }

    .content-container .photo-container::after {
        content: "";
        /* border: 2px solid purple; */
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.623);
        opacity: 0;
        z-index: 1;
    }

    .photo-container:hover::after {
        opacity: 1;
    }

    .box-content {
        /* border:  2px solid green; */
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        opacity: 0;
        z-index: 2;
        transition: all 0.4s ease-in-out;
        border-radius: 2rem;
    }

    .box-content a {
        border-radius: 2rem;
        font-size: 1.3em;
    }

    .photo-container:hover .box-content {
        opacity: 1;
        top: 50%;
    }

    .btn {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: #232323;
        padding: 0.5em 1.2em;
        margin-top: 0.8rem;
    }

    .comments-container {
        width: 45%;
        margin-bottom: 2%;
        margin-left: 3%;
        float: left;
    }

    footer {
        clear: both;
    }


}

/* desktop design */
@media only screen and (min-width:1025px) {
    * {
        /* border: 2px solid black;  */
    }

    .headline-container .horizontal-line {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: 50px;
        background-color: rgba(73, 95, 88, 1);
        margin: 4rem auto;
    }

    /* .headline-container .horizontal-line .introduction {} */
    .headline-container {
        position: relative;
        max-width: 100%;
        /* Adjust the width as needed */
        margin: 2rem auto;
        /* Center the container horizontally */
    }

/* positioning important concept */
    .horizontal-line-2 {
        margin: 2rem auto;
        position: relative;
        height: 90px;
    }
    .horizontal-line-2 h3{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 40px;
        width: 100%;
        text-align: center;
        color: rgb(244, 207, 21);
    }

    .introduction {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
        /* Bring the introduction text to the front */
    }

    .introduction h1 {
        margin: 0;
        /* Remove default margin for h1 */
        color: #333;
        /* Adjust the text color as needed */
    }

    /* designing the lower  content  */
    .content-container {
        background-color: #EDE597;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        margin-bottom: 3rem;
        width: 56%;
    }

    .dual-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        max-width: 95%;
    }

    .content-container .photo-container img {
        /* margin: 0 auto; */
        display: block;
        width: 100%;
        border-radius: 2rem;
        transition: transform 0.3s ease 0s;
    }



    /* css overlays */
    .content-container .box-content {
        display: inline-block;
        text-decoration: none;
        color: #232323;
    }

    .content-container .photo-container {
        margin-top: 1.5rem;
        /* border: 4px solid red; */
        max-width: 400px;
        border-radius: 2rem;
        transition: width 0.3s ease 0s;
        overflow: hidden;
        position: relative;
    }

    /* .content-container .photo-container-2 {
        max-width: 420px;
    }

    .content-container .photo-container-3 {
        max-width: 460px;
    } */

    .content-container .photo-container:hover {
        transform: scale(1.05);
    }

    .content-container .photo-container::after {
        content: "";
        /* border: 2px solid purple; */
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.623);
        opacity: 0;
        z-index: 1;
    }

    .photo-container:hover::after {
        opacity: 1;
    }

    .box-content {
        /* border:  2px solid green; */
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        opacity: 0;
        z-index: 2;
        transition: all 0.4s ease-in-out;
        border-radius: 2rem;
    }

    .box-content a {
        border-radius: 2rem;
        font-size: 1.3em;
    }

    .photo-container:hover .box-content {
        opacity: 1;
        top: 50%;
    }

    .btn {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: #232323;
        padding: 0.5em 1.2em;
        margin-top: 0.8rem;
    }


    .comments-container {
        width: 21%;
        margin-bottom: 2%;
        margin-left: 3%;
        float: left;
    }

    footer {
        clear: both;
    }

}

/*################################################*/
/*banner design*/
.banner {
    max-width: 100%;
    /* padding-bottom: 2rem; */
}

.slider-wrapper {
    /* border: 5px solid rgb(73, 95, 88, 1); */
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 0.25);
    position: relative;
    margin: .5rem auto 0rem;
    overflow: hidden;
    /* Ensure that the overflow is hidden to hide extra images */
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    animation: slideAnimation 19s linear infinite;
}

.slider img {
    flex: 1 0 100%;
    /*flex: flex-grow flex-shrink flex-basis; */
    scroll-snap-align: start;
    object-fit: cover;
    opacity: 0.9;
}

/* for animation  */
@keyframes slideAnimation {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

@media only screen and (min-width:1025px) {
    .slider-wrapper {
        margin: 2rem auto 1rem;
    }
}



/*################################################################*/
/* footer-design */
footer {
    background-color: rgb(73, 95, 88, 1);
}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: rgb(73, 95, 88, 1);
    border-radius: 50%;
}

.social-icons a i {
    font-size: 2em;
    color: rgb(244, 207, 21);
    opacity: 0.9;
}

/* hover effects n social media icons */
.social-icons a:hover {
    background-color: rgb(244, 207, 21);
    transition: 0.5s;
}

.social-icons a:hover i {
    color: rgb(73, 95, 88, 1);
    transition: 0.5s;
}

/* footer nav portion */
.footer-nav {
    margin: 20px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
}

.footer-nav ul li {
    list-style-type: none;
}

.footer-nav ul li a {
    color: rgb(244, 207, 21);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.6;
    transition: 0.5s;
}

.footer-container ul li a:hover {
    opacity: 1;
}

.designer:hover {
    opacity: 1;
}

.footer-bottom {
    color: rgb(244, 207, 21);
    padding: 20px;
    text-align: center;
}

span {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

span a {
    text-decoration: none;
    color: rgba(244, 207, 21, 0.7);
}

@media only screen and (min-width:320px) and (max-width:567px) {
    .footer-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        padding: 30px 30px 20px;
        ;
    }

    footer {
        font-size: 0.8rem;
    }

    footer li a {
        font-size: .5rem;
    }
}



/* ################################################## */
/*About US CSS*/
/* General Styling for About Section */
.about {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    min-height: 95vh;
    background-color: #EDE597;
    max-width: 100%;
    color: rgb(73, 95, 88, 1);
}

.about{
    min-height: 50vh;
}

/* Styling for About Section Headings */
.about h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

/* Styling for About Section Text */
.about-text h5 {
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: center;
}

/* Styling for About Section Paragraphs */
.about-text p {
    background-color: transparent;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for YouTube Videos */
.Youtube iframe {
    max-width: 100%;
    width: 100%;
}

/* Styling for Resize Button */
#resize-button {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resize-button button {
    color: rgb(244, 207, 21);
    background-color: rgba(73, 95, 88, 1);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 13px 30px;
    border: none;
    border-radius: 30px;
}

#resize-button button:hover {
    color: rgba(73, 95, 88, 1);
    background-color: rgb(244, 207, 21);
    cursor: pointer;
}

/* Styling for Text within About Section */
.about-text span {
    color: rgb(73, 95, 88, 1);

}



/* .about-text p {} */

#reason-container {
    margin: 25px;
    background-color: #EDE597;
    border-radius: 8px;
    padding: 20px;
    color: rgb(73, 95, 88, 1)
}

#reason-container ol {
    padding: 20px;

}

#achievement-container {
    padding: 29px;
    background-color: #EDE597;
    margin: 25px;
    border-radius: 8px;
    color: rgb(73, 95, 88, 1)
}


.choose-container {
    width: 100%;

}
.horizontal-line-about-us{
    margin: 2rem 0rem;
}

/*About Webpage Tablet in Landscape Media Query*/
@media (min-width:768px) {
    
    .about{
    min-height: 50vh;
    }
    
    .choose-container {
        flex-direction: row;
        display: flex;
    }

    /* Styling for Reason Container */
    #reason-container {
        height: 500px;
        padding: 20px;
        max-width: 48%;
        margin-left: 2%;
        font-size: 1rem;
        flex-basis: 100%;
        overflow: auto;
    }

    /* Styling for Achievement Container */
    #achievement-container {
        height: 500px;
        padding: 20px;
        max-width: 48%;
        margin-bottom: 2rem;
        font-size: 1rem;
        flex-basis: 100%;
        overflow: auto;

    }

    /* Styling for Achievement Paragraph */
    #achievement-paragraph p {
        padding: 15px;
        width: 50%;
        height: 100px;
        overflow: auto;
    }
}


/*About Webpage Desktop Media Query*/

@media (min-width:1025px) {
    .main h1 {
        padding-top: 2rem;
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .about {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
        font-size: 23px;
        height: 20%;
    }

    .about img {
        /* Adjustments for Desktop View */
        margin-bottom: 10px;
        width: 100%;
        object-fit: contain;
        padding: 20px; 
        margin: 1rem; 
    }

    .about-container {
        flex-direction: column;
    }

    #resize-button {
        /* margin: 2rem; */
        padding: 2rem;
    }

    #resize-button button {
        margin: 0 auto;
        display: block;
        padding: 13px 30px;
    }


    .choose-container {
        width: 100%;
        height: 70vh;
        padding: 10px;
        display: flex;
        flex-direction: row;
        color: rgb(73, 95, 88, 1);
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2rem;
    }

    #reason-container {
        padding: 1rem;
        max-width: 45%;
        flex-basis: 100%;
        border-radius: 0.5rem;
        background-color: #EDE597;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
/*        font-size: 20px;*/
        height: 100%;

    }


    #Youtube {
        height: 55%;
        width: 55%;
        margin-left: 22%;
    }


    #achievement-container {
        padding: 1rem;
        max-width: 45%;
        flex-basis: 100%;
        border-radius: 0.5rem;
        background-color: #EDE597;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
        height: 100%;
    }


    /* Styling for Unordered Lists */
    section ul {
        list-style-type: none;
    }

    .main .headline-container .horizontal-line {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: 50px;
        background-color: rgba(73, 95, 88, 1);
        margin: 4rem auto;
    }

}


/* ############################################### */
/*Services and Events Webpage*/

/*To Style all container, 100% width an rounded borders. Background color and box model*/
.room-container,
.other-container,
.prices,
.event-container {
    width: 100%;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 20px 20px 20px 20px;
    background-color: rgb(237, 228, 150);
    margin-bottom: 3%;
}

/* Styling Images container for Services and Events pages */
.room-slider-wrapper,
.event-slider-wrapper {
    position: relative;
    width: 100%;
}


/*Styling Slider rounded and aspect*/
.room-slider,
.event-slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}


/* Styling Images for Services and Events pages */
.room-slider img,
.event-slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    opacity: 0.9;
}


.room-slider-nav,
.event-slider-nav {
    display: flex;
    background: transparent;
    column-gap: 1rem;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%);
}

.room-slider-nav a,
.event-slider-nav a {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    z-index: 1;
}

/*Styling descriptions for each item */
.room-description,
.event-description {
    width: 100%;
    padding: 3%;
}

div .room-description,
.event-description {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    color: rgb(73, 95, 88, 1);
}

.room-container h1,
.other-services h1,
.event-container h1 {
    font-size: 2em;
}

.room-description ul li, .event-description ul li {
    list-style-type: none;
}

.room-description ul li a {
    color: rgb(244, 207, 21);
    margin: 20px;
    text-decoration: none;
    font-size: 1.5em;
    opacity: 0.6;
    transition: 0.5s;
}


/*Styling other services text and prices table text*/
.other-services,
.prices {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: rgb(73, 95, 88, 1);
}

/*Styling other services icons*/
.other-services i {
    font-size: 3em;

}

.Services {
    width: 33%;
    float: left;
}

/*Styling prices table*/
#table_prices {
    width: 100%;
    border-collapse: collapse;
    height: 10em;
}

.table_prices,
th,
td {
    border: 1.2px solid rgb(73, 95, 88, 1);
}

/*Styling booking button*/
form.cta button {
    display: block;
    margin-left: 40px;
    margin: 0 auto;
    position: relative;
    padding: 9px 25px;
    background-color: rgb(73, 95, 88, 1);
    color: rgb(237, 241, 242);
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

form {
    text-decoration: none;
}

form.cta button:hover {
    background-color: rgb(74, 94, 88, 0.8);

}


/*Services and Events Webpage Tablet in Landscape Media Query*/

@media (min-width:768px) {

    /*Styling container to 95% width*/
    .room-container,
    .event-container {
        width: 95%;
    }

    /* Styling images container to 50% and floatating them to the right*/
    .room-slider-wrapper,
    .event-slider-wrapper {
        width: 50%;
        float: right;
        margin-top: 50px;
    }

    /*Styling description to be 50% width*/
    div .room-description,
    div .event-description {
        width: 50%;
        margin-right: 10%;
    }

    /* Clearing float on other container*/
    .other-container {
        clear: both;
    }

    /*Styling prices table*/
    #table_prices {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }


}


/*Services and Events Webpage Desktop Media Query*/

@media (min-width:1025px) {
    /* Styling services for 3 columns layout*/
    .room-container {
        width: 32%;
        float: left;
        margin-left: 1%;
    }

    /* Styling events page for 2 columns layout*/
    .event-container {
        width: 47%;
        float: left;
        margin-left: 1.5%;
    }


    .room-slider-wrapper,
    .event-slider-wrapper {
        margin: auto;
        width: 100%;
        margin-bottom: 5%;
    }

    div .room-description,
    div .event-description {
        width: 100%;
    }

    .other-container {
        display: block;
        width: 100%;
        clear: both;
    }

    footer {
        clear: both;
    }

}




/* #################################################### */
/* Amenities page */
/* #################################################### */
/* Amenities page */

/* Default styles for smaller screens */
.amenities-container {
    /* Container for the entire amenities section */
    width: 100%;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 20px;
    background-color: #EDE597;
    margin-bottom: 3%;
    overflow: hidden;
}



.amenities-slider-wrapper {
    /* Wrapper for the amenities slider */
    width: 100%;
    margin-top: 20px;
}

.amenities-slider {
    /* Styling for the amenities slider container */
    aspect-ratio: 16/9;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.amenities-slider img {
    /* Styling for individual images within the amenities slider */
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    opacity: 0.9;
    width: 100%;
}

.amenities-slider-nav {
    /* Styling for the amenities slider navigation */
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.amenities-slider-nav a {
    /* Styling for individual navigation items within the slider */
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    z-index: 1;
    margin: 0 5px;
}

.amenities-description {
    /* Styling for the text description of amenities */
    width: 100%;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: rgb(73, 95, 88, 1);
}

.section-title {
    /* Styling for section titles */
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(73, 95, 88, 1);
}

/* Responsive styles for tablet */
@media only screen and (min-width: 768px) {
    .amenities-section {
        /* Responsive styling for the entire amenities section on tablets */
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
    }

    .amenities-container {
        /* Responsive styling for individual amenities containers on tablets */
        width: 95%;
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
    }

    .amenities-slider {
        /* Responsive styling for images within the amenities slider on tablets */
        width: 48%;
        float: right;
        margin-top: 15%;
    }

    .amenities-description {
        /* Responsive styling for the amenities description text on tablets */
        width: 48%;
    }
}

/* Responsive styles for desktop and larger screens */
@media only screen and (min-width: 1025px) {

    /* we dont need to add the style for .horizontal-line for all page cause the classes are the same */

    .amenities-section {
        /* Responsive styling for the entire amenities section on desktop and larger screens */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .amenities-container {
        /* Responsive styling for individual amenities containers on desktop and larger screens */
        width: 30%;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        float:left;
    }

    .amenities-slider-wrapper {
        /* Styling for the amenities slider wrapper on desktop and larger screens */
        margin-top: 10px;
    }

    .amenities-description {
        /* Styling for the amenities description text on desktop and larger screens */
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        width: 100%;
    }

    .amenities-slider img{
        /* Responsive styling for images within the amenities slider on desktop and larger screens */
        width: 100%;
        height: auto;
        max-width: none;
        margin-bottom: 10px;
    }

    .amenities-slider{
        width: 100%;
    }
}




/*##############################################*/
/*For contact us page*/
/*/For contact us page/*/
/*for the form and map box*/
.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background-color: #EDE597;
    box-shadow: 0px 0px 10px 0px #666;
}
/*for map only*/
.contact_map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact_map iframe {
    width: 100%;
    height: 100%;
}
/*for contact form*/
.contact_form {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
    padding: 30px;
}

.contact_form h1 {
    margin-bottom: 10px;

}

.contact_form-txt {
    width: 100%;
    height: 40px;
    color: rgba(73, 95, 88, 1);
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact_form-txt::placeholder {
    color: rgb(73, 95, 88, 1);
}

.contact_form-textarea {
    width: 100%;
    height: 130px;
    color: rgba(73, 95, 88, 1);
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact_form-textarea ::placeholder {
    color: #aaa;
}
/*this is for submit button and reset button*/
.contact_form-btn {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #8e2de2;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;

}

.topic h1{
    text-align: center;
    color: rgba(73, 95, 88, 1);
}

.topic p {
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    font-size: 18px;
}


/* ############################################### */
/* Contact us Cards */
.cards {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}


.contact {
    display: flex;
}

.content {
    background-color: #EDE597;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 2px lightyellow;
    border-radius: 4px;
    transition: all .3s ease;
    color: rgba(73, 95, 88, 1);
}

.content .fab {
    font-size: 70px;
    margin: 16px 0;
}

.content>* {
    flex: 1 1 100%;
}

.content:hover {
    color: #EDE597;
    border-color: rgba(73, 95, 88, 1);
    background: rgba(73, 95, 88, 1);
}

.content:hover a {
    background: #EDE597;
    color: rgba(73, 95, 88, 1);


}

.content h2 {
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content p {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.content a {
    margin: 22px 0;
    font-size: 15px;
    background: rgba(73, 95, 88, 1);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    padding: 15px 0;
    border-radius: 25px;
    transition: .3s ease;
}

.content a:hover {
    border-radius: 4px;
}

@media (max-width: 1025px) {
    .contact {
        display: flex;
        flex-direction: column;
    }
    .contact_map {
        flex: 100%;
        height: 250px;
    }
}



/*################################################*/
/* /for booking page/ */
/* General styles for all screens */
/* /css for booking page/ */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    color:rgba(73, 95, 88, 1);
    background-color: #EDE597;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%; /* Adjust width for mobile screens */
    margin: 0 auto; /* Center the container horizontally */
}

form {
    display: grid;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input,
select,
textarea {
    width: 100%; /* Full width for mobile screens */
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="reset"] {
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
}

input[type="reset"]:hover {
    background-color: darkred;    
}
footer{
    margin-top: 2rem;
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
    .container {
        width: 70%;
    }
}

/* Desktop styles */
@media only screen and (min-width: 1025px) {
    .container {
        width: 600px; /* Set a fixed width for desktop screens */
    }

}


/* ################(Group-Page-small-css)########################## */
/* Our-group */
/* Mobile-first styles (default) */

.group-container {
    width: 80%;
    /* Adjusted for smaller screens */
    padding: 1rem;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.group-item {
    max-width: 10rem;
    margin: 10px;
    text-align: center;
}

.group-item-friend {
    max-width: 25rem;
    margin: 10px;
    text-align: center;
    border-radius: 1rem;

}

.group-item {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.group-item-2,
.group-item-4 {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.group-item img {
    max-width: 100%;
    border: 5px solid rgb(73, 95, 88, 1);
    border-radius: 50%;
}

.group-second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.group-item-friend h3 {
    color: rgb(244, 207, 21);
}

.group-item-friend p {
    display: none;
}

.group-item-friend {
    width: 100%;
    /* Adjusted for smaller screens */
    height: 8rem;
    /* Keeping the height the same */
    padding: 0.5rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    background-color: rgb(73, 95, 88, 1);
    color: rgb(237, 228, 150);
}

.group-second-container-1,
.group-second-container-3,
.group-second-container-5 {
    align-self: stretch;
    /* Full width for smaller screens */
}

.group-second-container-2,
.group-second-container-4 {
    align-self: center;
    flex-direction: row;
    /* Default direction for smaller screens */
}

/* Larger screens - Media Query */
@media only screen and (min-width: 768px) {

    .group-container {
        width: 80%;
        /* Adjusted for larger screens */
    }

    .group-item,
    .group-item-friend {
        background-color: rgba(73, 95, 88, 1);
        width: 140px;
        height: 140px;
    }

    .group-second-container-2,
    .group-second-container-4 {
        flex-direction: row-reverse;
        /* Adjusted direction for larger screens */
    }

    .group-item-friend {
        width: 400px;
        /* Adjusted width for larger screens */
    }

    .group-item-friend p {
        display: block;
    }

}

